# Telegram Bot Configuration
BOT_TOKEN=6501710497:AAFmbkmk4_ObKk5wOUhs03qDYOZewXlXsCs

# Bot Settings
BOT_USERNAME=@onomhookbot
BOT_ADMIN_USER_IDS=1856156198,145328014
MAIN_CONTENT_CREATOR_ID=1856156198

BASE_N8N_WEBHOOK_URL=https://n8n.golgolgolgolp12.space/webhook



# Logging
LOG_LEVEL=info
LOG_FILE=logs/bot.log

# Development
NODE_ENV=development
PORT=3000

# Database (for future stages)
DATABASE_URL=postgresql://username:password@localhost:5432/fintech_bot

# Cron Schedule
POSTING_SCHEDULE="0 12 */2 * *"# Every 2 days at 12:00 MSK

SUPABASE_URL=https://rcwnjapvyveoynrzspon.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjd25qYXB2eXZlb3lucnpzcG9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2MDYyMjMsImV4cCI6MjA3MTE4MjIyM30.7BwWWljpCdtqt5B2vZidG13QmH6YSVdmi6OqwsZBrpI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjd25qYXB2eXZlb3lucnpzcG9uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTYwNjIyMywiZXhwIjoyMDcxMTgyMjIzfQ.BW77p4GjX9cEHdrWUzNvtew2-_2u7DD1n4vayMpLtIc


CHANNELS=[{"id": "fintech85","name": "Fintech85","description": "FINTECH SU NEWS","channelId": "@fintech85"},{"id": "trans_payments","name": "Trans Payments","description": "Трансграничные платежи и финансовые новости с элементами FOMO","channelId": "@fomopayments"}]


